.admin-form-container {
    max-width: 900px;
    padding: 50px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.admin-form-container .title-admin-form {
    color: #FAF8F0;
    background-color: #1A531A;
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid #B85C38;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.9rem;
    width: 107.2%;
    margin-left: -30px;
}

.admin-form-container h3 {
    color: #1A531A;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bolder;
}



.package-form .form-group {
    margin-bottom: 15px;
}

.package-form input,
.package-form textarea,
.package-form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #15572470;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.package-form input:focus,
.package-form textarea:focus,
.package-form select:focus {
    border-color: #155724;
    box-shadow: 0 0 0 0.2rem rgba(11, 89, 5, 0.25);
    outline: none;
}

.package-form textarea {
    resize: vertical;
}

.form-group-inline {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group-inline input {
    flex: 1;
}

.form-group-image {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.form-group-image input[type="url"] {
    flex-grow: 1;
}

.btn-remove-image {
    flex-shrink: 0;
    padding: 8px 12px;
    background-color: #B85C38;
    color: #FAF8F0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-remove-image:hover {
    background-color: #B85C3880;
}

.btn-add-image {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #A49989;
    color: #FAF8F0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
}

.btn-add-image:hover {
    background-color: #A4998980;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s, opacity 0.2s;
    text-align: center;
}

.btn-back-to-list {
    background-color: #A49989;
    color: #FAF8F0;
}

.btn-back-to-list:hover {
    background-color: #A4998980;
}


.btn-success {
    background-color: #1A531A;
    color: #FAF8F0;
}

.btn-success:hover {
    background-color: #1A531A90;
}

.btn-warning {
    background-color: #ffc107;
    color: #212529;
}

.btn-warning:hover {
    background-color: #e0a800;
}


.select-all-button {
        border-radius: 5px;
        transition: all 0.2s;
    }

    .select-all-button:hover {
        border-color: #155724;
        box-shadow: 0 0 0 0.2rem rgba(11, 89, 5, 0.25);
        outline: none;
        background-color: #f0fdf4;
    }

    .characteristic-button {
        border-radius: 5px;
        transition: all 0.2s;
        border-width: 1px;
    }

    .characteristic-button.active {
        border-color: #155724;
        box-shadow: 0 0 0 0.2rem rgba(11, 89, 5, 0.25);
        outline: none;
        background-color: #f0fdf4;
        color: #155724;
    }

    .characteristic-button:hover {
        border-color: #155724;
        box-shadow: 0 0 0 0.2rem rgba(11, 89, 5, 0.25);
        outline: none;
    }

@media (max-width: 768px) {
    .admin-form-container {
        margin: 20px;
        padding: 20px;
    }

    .form-group-inline {
        flex-direction: column;
        gap: 0;
    }

   
    .mobile-access-denied-container {
        margin-top: 30px;

        h2 {
            width: auto;
        }
    }
}

.package-form input.input-error,
.package-form textarea.input-error,
.package-form select.input-error {
    border-bottom: #B85C38;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.validation-error {
    font-size: 15px;
    color: #B85C38;
}