.container-admin-category {
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.admin-category table {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-collapse: collapse;
}

.admin-category th {
    background-color: #1A531A;
    color: #FAF8F0;
    padding: 12px 15px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.admin-category td {
    padding: 5px 15px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #DEDEDE;
}

.admin-category tbody tr:nth-child(even) {
    background-color: #FAF8F0;
}

.admin-category tbody tr:hover {
    background-color: #f3ede9d8;
}

.image-category {
    width: 300px;
    height: auto;
}

.admin-category .btn {
    margin-top: 35px;
    margin-bottom: 50px;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s, opacity 0.2s;
    margin-right: 8px;
}

.admin-category .btn-warning {
    background-color: #A49989;
    color: #FAF8F0;
    border: 1px solid #A49989;
}

.admin-category .btn-warning:hover {
    background-color: #FAF8F0;
    color: #A49989;
}

.admin-category .btn-danger {
    background-color: #B85C38;
    color: #FAF8F0;
}

.admin-category .btn-danger:hover {
    background-color: #FAF8F0;
    color: #B85C38;

}

.button-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.button-header-row-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.admin-category .btn-primary {
    background-color: #B85C38;
    color: #FAF8F0;
    padding: 8px 14px;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 0px !important;
    margin-top: 20px !important;
}

.admin-category .btn-primary:hover {
    background-color: #9e4c30;
}

.pagination .page-item .page-link {
    color: #B85C38;
    border-color: #B85C38;
    transition: all 0.2s;
    font-weight: 500;
}

.pagination .page-item:not(.disabled) .page-link:hover {
    background-color: #fff;
    color: #1A531A;
    border-color: #1A531A;
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.3);
}

.pagination .page-item.active .page-link {
    background-color: #1A531A !important;
    border-color: #1A531A !important;
    color: #fff !important;
}

.pagination .page-item.disabled .page-link {
    color: #33333352;
    cursor: not-allowed;
    background-color: #fff;
}

.page-counter {
    color: #333;
    font-size: 1.1em;
    font-weight: 500;
}

.modal-header-category {
    background-color: #1A531A;
    padding: 20px;
}

.modal-title-category {
    color: #FAF8F0;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.9rem;
    width: 100%;
}

.modal-dialog-category {
    width: 100%;
    height: 100%;
    background: #FAF8F0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

.modal-content-category {
    width: 70%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;

}

.label-description-category,
.label-image-category,
.label-title-category {
    font-weight: bold;
    color: #333;
    text-align: left;
}

.input-description-category,
.input-image-category,
.input-title-category {
    resize: vertical;
    margin-bottom: 25px;
    width: 100%;

}

.modal-body-category {
    padding: 20px 40px;
    text-align: center;
    color: #1A531A;

}
