.container-admin-characteristic {
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.admin-characteristic table {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-collapse: collapse;
}

.admin-characteristic th {
    background-color: #1A531A;
    color: #FAF8F0;
    padding: 12px 15px;
    text-align: center;
    width: auto;
    font-weight: bolder;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.admin-characteristic td {
    color: #333;
    border-bottom: 1px solid #DEDEDE;
}


.admin-characteristic tbody tr:nth-child(even) {
    background-color: #FAF8F0;
}

.admin-characteristic tbody tr:hover {
    background-color: #f3ede9d8;
}

.admin-characteristic .btn {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s, opacity 0.2s;
}

.admin-characteristic .btn-warning {
    background-color: #A49989;
    color: #FAF8F0;
    border: 1px solid #A49989;
}

.admin-characteristic .btn-warning:hover {
    background-color: #FAF8F0;
    color: #A49989;
}

.admin-characteristic .btn-danger {
    background-color: #B85C38;
    color: #FAF8F0;
}

.admin-characteristic .btn-danger:hover {
    background-color: #FAF8F0;
    color: #B85C38;

}

.button-flex-characteristic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-header-row-characteristic {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 0;
}

.admin-characteristic .btn-primary {
    background-color: #B85C38;
    color: #FAF8F0;
    padding: 8px 14px;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 0px !important;
    margin-top: 20px !important;
}

.admin-characteristic .btn-primary:hover {
    background-color: #9e4c30;
}

.pagination .page-item .page-link {
    color: #B85C38;
    border-color: #B85C38;
    transition: all 0.2s;
    font-weight: 500;
}

.pagination .page-item:not(.disabled) .page-link:hover {
    background-color: #fff;
    color: #1A531A;
    border-color: #1A531A;
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.3);
}

.pagination .page-item.active .page-link {
    background-color: #1A531A !important;
    border-color: #1A531A !important;
    color: #fff !important;
}

.pagination .page-item.disabled .page-link {
    color: #33333352;
    cursor: not-allowed;
    background-color: #fff;
}

.page-counter {
    color: #333;
    font-size: 1.1em;
    font-weight: 500;
}

.modal-header-characteristic {
    background-color: #1A531A;
    padding: 20px;
}

.modal-title-characteristic {
    color: #FAF8F0;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.9rem;
    width: 100%;
}


.modal-dialog-characteristic {
    width: 100%;
    height: 100%;
    background: #FAF8F0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

.modal-content-characteristic {
    width: 70%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;

}

.label-icon-characteristic,
.label-title-characteristic {
    font-weight: bold;
    color: #333;
    text-align: left;
    font-size: 1rem;
}

.input-title-characteristic {
    resize: vertical;
    margin-bottom: 25px;
    width: 100%;

}

.button-icon-characteristic {
    border-radius: 8px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid transparent;
    user-select: none;
    margin-top: 10px;
    text-align: left;
    background-color: #1A531A;
    color: #FAF8F0;
    border-color: #1A531A;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 800;
    transition: background-color 0.2s, opacity 0.2s;
    text-align: center;
}


.button-icon-characteristic.is-auto {
     background-color: #1A531A;
    color: #FAF8F0;
    border-color: #1A531A;
}

.button-icon-characteristic.is-auto:hover {
    background-color: #1A531A90;
    border-color: #1A531A90;
    transform: scale(1.02);
    box-shadow: 0 2px 4px rgba(21, 128, 61, 0.1);
}

.button-icon-characteristic.is-auto:active {
    transform: scale(0.98);
}

.button-icon-characteristic.is-manual {
   background-color: #A49989;
    color: #FAF8F0;
    border-color: #A49989;
}

.button-icon-characteristic.is-manual:hover {
    background-color: #A4998980;
    color: #FAF8F0;
    transform: scale(1.02);
}

.button-icon-characteristic.is-manual:active {
    transform: scale(0.98);
}

.modal-body-characteristic {
    padding: 20px 40px;
    color: #1A531A;
}

.icon-box{
    width: fit-content;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 8px;
}

.button-icon{
    color: #1A531A;
    font-weight: bolder;
    padding: 10px;
}

