.admin-menu-container {
    padding: 100px 80px;
    width: 100%;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.admin-menu-container .admin-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #FAF8F0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

.admin-menu-container .admin-subtitle {
    font-size: 1.5rem;
    color: #FAF8F0;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 400;
    margin-top: 5px;
}

.admin-menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.admin-menu-item {
    background-color: #fff;
    border: 2px solid #E0E0E0;
    border-radius: 12px;
    padding: 45px;
    height: 200px;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    width: 95%;
}

.admin-menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-color: #B85C38;
}

.admin-menu-item .icon-wrapper {
    flex-shrink: 0;
    margin-right: 15px;
    color: #1A531A;
    padding: 10px;
    border-radius: 8px;
    background-color: #E6F0E6;
}

.admin-menu-item .text-content h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #1A531A;
}

.admin-menu-item .text-content p {
    margin: 0;
    font-size: 1rem;
    color: #333;
    line-height: 1.4;
}

.admin-menu-item.wip {
    background-color: #e0e0e0;
    border-color: #bbb;
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: all;
}

.admin-menu-item.wip:hover {
    border-color: #bbb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: none;
}

.admin-menu-item.wip .icon-wrapper {
    color: #888;
}

.mobile-access-denied-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #F5F0E5;
}

.mobile-access-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    width: 100%;
    border-top: 8px solid #1A531A;
}

.mobile-access-card h2 {
    color: #B85C38;
    margin-top: 15px;
    font-size: 2rem;
    font-weight: bolder;
}

.mobile-access-card p {
    color: #1A531A;
    margin-top: 15px;
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 10px;

}

.mobile-access-card strong {
    font-weight: bold;
}

.message-error-user {
  height: 400px;
  padding: 40px;
  margin-top: 80px;
}