.admin-list-container {
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1200px; 
    width: 100%; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 30px;
}

.admin-dashboard-root {
    width: 100%;
}

.title-package-admin{
    color: #1A531A;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 15px;
    width: 100%;
}

.admin-list-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.admin-list-container th {
    background-color: #1A531A;
    color: #FAF8F0;
    padding: 12px 15px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.admin-list-container td {
    padding: 5px 15px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #DEDEDE;
}

.admin-list-container tbody tr:nth-child(even) {
    background-color: #FAF8F0;
}

.admin-list-container tbody tr:hover {
    background-color: #f3ede9d8;
}

.admin-list-container .btn {
    margin-top: 35px;
    margin-bottom: 50px;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s, opacity 0.2s;
    margin-right: 8px;
}

.admin-list-container .btn-warning {
    background-color: #A49989;
    color: #FAF8F0;
    border: 1px solid #A49989;
}

.admin-list-container .btn-warning:hover {
    background-color: #FAF8F0;
    color: #A49989;
}

.admin-list-container .btn-danger {
    background-color: #B85C38;
    color: #FAF8F0;
}

.admin-list-container .btn-danger:hover {
    background-color: #FAF8F0;
    color: #B85C38;

}

.button-header-row {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-top: 25px; 
}
.admin-list-container .btn-primary {
    background-color: #B85C38;
    color: #FAF8F0;
    padding: 8px 14px;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 0px !important; 
    margin-top: 20px !important; 
}

.admin-list-container .btn-primary:hover {
    background-color: #9e4c30;
}

.pagination .page-item .page-link {
    color: #B85C38; 
    border-color: #B85C38;
    transition: all 0.2s;
    font-weight: 500;
}

.pagination .page-item:not(.disabled) .page-link:hover {
    background-color: #fff; 
    color: #1A531A; 
    border-color: #1A531A;
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.3);
}

.pagination .page-item.active .page-link {
    background-color: #1A531A !important; 
    border-color: #1A531A !important;
    color: #fff !important;
}

.pagination .page-item.disabled .page-link {
    color: #33333352;
    cursor: not-allowed;
    background-color: #fff;
}

.page-counter {
    color: #333;
    font-size: 1.1em;
    font-weight: 500;
}