.container-category {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}

.background-category {
    padding-top: 100px;
    margin: 0;
    height: 370px;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.396);
    border-bottom: solid 10px #FAF8F0
} 

.category-description {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: semi-bold;
}

.display-title {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
}

.btn-light {
    display: flex;
    color: #1A531A;
    background-color: #FAF8F0;
    border: none;
    margin-top: 4vh;
    align-items: center;
}

.btn-light:hover {
    background-color: #c9c6ba;
    color: #1A531A;
}

.package-text {
    margin: 0;
    padding: 40px 70px 10px 70px;
    text-align: start;
    font-weight: bold;
    color: #FAF8F0;
    text-align: start;
    font-size: 2.8rem;
    width: 100vw;
}

.package-paragraph {
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 5px;
    color: #fff;
    text-align: start;
}

.package-card {
    padding: 20px 70px;
}

.load-text{
    font-size: 2rem;
    color: #1A531A;
    font-weight: bolder;
    background-color: transparent;
}

.error-message {
    font-size: 1.8rem;
    color: #FAF8F0;
    font-weight: bold;
}