.container-favorites {
    padding: 80px 20px 20px 20px;
    background-color: #fff;
}

.favorites-bg {
    background-color: #fff;
}

.title-favorites {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    color: #1A531A;
    font-weight: bolder;
}

.sub-title-favorites {
    text-align: center;
    font-size: 1.5rem;
    color: #1A531A;
}

.package-card {
    padding: 20px 70px;
}

.heart-favorites {
    color: #fff;
}

.container-empty-favorites {
    padding: 140px 0 140px 0;
    background-color: none;
}

.loading-favorites {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

.empty-favorites {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
}

.container-favorites .package-card .btn-primary {
    width: auto;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .title-favorites {
        padding-top: 20px;
    }

    .package-card {
        padding: 10px 12px;
    }
}

@media (max-width: 575px) {
    .package-card {
        padding: 20px 30px 20px 50px;
    }

}