.hero-section h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #FAF8F0;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.container h2 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #FAF8F0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 50px;
    width: 100vw;
    padding: 20px 0 40px 0;
}


.row {
    flex-direction: row;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;

}

.text-lg {
    color: #FAF8F0;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;


}

.hero-section {
    height: 600px;
    width: 100vw;
    background-image: url('https://images.pexels.com/photos/13421304/pexels-photo-13421304.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.45);
}

.search-overlay {
    text-align: justify;
    padding: 20px;
    z-index: 10;
}

.shadow-text {
    text-shadow: 2px 2px 4px #1A531A;
}

.text-search {
    color: #FAF8F0;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.btn-primary {
    background-color: #B85C38;
    border-color: #B85C38;
    color: #FAF8F0;
    font-family: "Inter", sans-serif;
}

.btn-primary:hover {
    background-color: #b85c385c;
    border-color: #b85c38a3;
}


.map-layout {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: stretch;
    width: 100%;
    padding-right: 50px;
}

.destination-content h3 {
    color: #1A531A;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-bottom: #B85C38 solid 3px;
    padding: 10px 5px;
}

.destination-content p {
    color: #1A531A;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: justify;
    text-indent: 25px;
}

.destination-content h4 {
    color: #B85C38;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    text-align: center;
    padding: 10px 5px;
}

.map-slider-section h2 {
    font-family: "Inter", sans-serif;
    color: #FAF8F0;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;

}

.map-slider-section {
    background-color: #1A531A;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 80px;
}

.map-layout-full {
    width: 100%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

@media (min-width: 1024px) {
    .map-layout {
        flex-direction: row;
        min-height: 550px;
    }

    .slider-column {
        flex: 1 1 50%;
        padding-left: 50px;
    }

    .map-column {
        flex: 1 1 50%;
        background-image: url('https://images.pexels.com/photos/13421304/pexels-photo-13421304.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.45);
        padding: 0 0 20px 0;
        border-radius: 0;
        border: none;
        display: flex;
        flex-direction: column;
    }
}

.destination-slider-container {
    padding: 2.5rem 3rem;
    border-radius: 0;
    border: none;
    box-shadow: none;
    height: 100%;
}

.map-image-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.map-image {
    width: auto;
    height: 550px;
}

.map-column p {
    color: #FAF8F0;
    font-weight: bolder;
    font-size: 25px;
    font-family: "Inter", sans-serif;

}