h1{
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 20px;
}
.row {
    display: flex;
    flex-direction: row; 
    width: 100%; 
    height: 100%;
    align-items: center;
    justify-content: center;

}