.flip-card {
    background-color: transparent;
    width: 100%; 
    height: 350px;
    perspective: 1000px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s; 
    transform-style: preserve-3d; 
    border-radius: 8px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); 
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden; 
    border-radius: 8px;
    overflow: hidden;
}

.flip-card-front {
    background-color: #FAF8F0;
    color: black;
}

.flip-card-front img {
    display: block;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); 
    color: #FAF8F0;
    padding: 10px 15px;
    text-align: left;
}
.card-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.flip-card-back {
    background-color: #FAF8F0; 
    color: #1A531A;
    padding: 20px;
    display: flex; 
     border: 2px solid rgb(231, 224, 199);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    transform: rotateY(180deg); 
}

.back-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1A531A;
    border-bottom: 3px solid #B85C38;
    padding-bottom: 5px;
    width: 100%;
}

.back-description {
    margin-bottom: 20px;
    font-size: 15px;
    text-align: justify;
    color: #1A531A;
}

.back-price{
    font-weight: 800;
    margin-top: 15px;
    font-size: 15px;
    color: #1A531A; 
    align-self: center;
}

 .back-destination, .back-category {
    font-size: 15px;
    margin: 5px 0;
    color: #1A531A;
}

.inline-block{
       vertical-align: middle;
    margin-right: 8px;
    color: #B85C38; 
}
.price-value {
    font-size: 23px;
    color: #B85C38; 
}
