.search-input-field::placeholder {
    color: rgba(250, 248, 240, 0.7) !important;
    font-weight: normal;
}

.dropdown-custom::-webkit-scrollbar {
    width: 12px !important;
    display: block !important;

}

.dropdown-custom::-webkit-scrollbar-track {
    background: #6c757d  !important;
    border-radius: 1px !important;
    border: 1px solid #e2e8f0 !important;
}

.dropdown-custom::-webkit-scrollbar-thumb {
    background-color: #1A531A !important;
    border-radius: 1px !important;
    min-height: 40px !important;
}

