.suggestions-list {
    overflow-y: auto; 
z-index: 1000; 
position: absolute;
width: calc(100% - 15px); 
list-style: none;
padding: 0;
margin: 0;
border: 1px solid #ccc;
border-top: none;
background-color: white;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.suggestions-list li {
padding: 10px;
cursor: pointer;
border-bottom: 1px solid #eee;
}

.suggestions-list li:hover {
background-color: #f0f0f0;
}

.search-container {
position: relative;
}