body {
    background-image: url('/images/IMAG-BODY.jpeg');
    background-size: cover;
    overflow-x: hidden;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.396);
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-content-wrapper {
    flex-grow: 1;
}
