body {
    background-image: url('https://images.pexels.com/photos/4613847/pexels-photo-4613847.jpeg');
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.659);
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: "Inter", sans-serif;
}